<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link media="all" rel="stylesheet" href="{{ path '/css/common.map.css' }}">
	<script src="{{ path '/js/common.bundle.js' }}"></script>
	<title>Preview Layout</title>
</head>
<body>
	<div style="padding: 15px">
		{{{ yield }}}
	</div>
</body>
</html>
